@import "mixins";

// COPY BOOTSTRAP
$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$font-size-lg: 1.25rem;
$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .75rem;
$navbar-toggler-padding-x:          .75rem;

$grid-breakpoints: (
    xs: 0,
    xxsm: 320px,
    xsm: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$navbar-light-active-color: rgba(0, 0, 0, 0.9);

//EDIT
// 