<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary py-1 shadow-sm bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img width="130" src="images/logo.svg" alt="logo" class="d-inline-block align-text-top" srcset="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 align-items-lg-center justify-content-lg-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        VIRTUAL STAGING
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Overview</a></li>
                        <li><a class="dropdown-item" href="#">How It Works</a></li>
                        <li><a class="dropdown-item" href="#">Pricing</a></li>
                        <li><a class="dropdown-item" href="#">Library</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">FEATURED LISTINGS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button type="button" class="btn btn-danger btn-sm">PLACE ORDER</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="tel:+18337882226" style="font-weight: bold;color: #333333;">1-833-788-2226</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        ACCOUNT
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">My Orders and Listings</a></li>
                        <li><a class="dropdown-item" href="#">Notifications </a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Transactions</a></li>
                        <li><a class="dropdown-item" href="#">Sign Out</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>