<div class="container py-5 d-flex flex-column align-items-center">
    <div class="" style="font-size: 2.7em; font-weight: bold;">Maximize the Appeal and Value of Any Listing
    </div>
    <div class="mt-2 fs-5">Pay as You Go or Subscribe to a Plan to Unlock Exclusive Features</div>

    <div class="border rounded shadow w-100 px-5 py-3 mt-5">
        <div class="row">
            @@for (var i = 1; i <= 4; i++) { <div class="col-12 col-lg-3 border-end border-2 mt-3 pricing-col">
                <div class="fw-bold fs-4 mt-2 text-center">Pay As You Go</div>
                <div class="fw-light mt-2">For real estate pros who want to boost the appeal and value of their listings
                </div>
                <div class="fw-bold fs-4 mt-2 text-center">$0/Year</div>
                <center>
                    <button class="btn btn-lg btn-danger mt-3 px-4 text-center">Place order</button>
                </center>

                <div class="fw-light" style="font-size: 0.875em;">
                    @@for (var i = 1; i <= 10; i++) { <div class="mt-3">
                        <div>Add Furniture and Decor Decor Decor
                            <i class="fa-solid fa-circle-info text-secondary" style="cursor: pointer;"
                                data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                        </div>
                        <div>$29.00/Photo</div>
                </div>
                }
        </div>

        <div class="fw-light" style="font-size: 0.875em;">
            <div class="mt-3 fw-bold">Features Included:</div>
            @@for (var i = 1; i <= 10; i++) { <div class="mt-3">
                <div>
                    <i class="fa-solid fa-check"></i>
                    12-24 Hour Delivery Delivery Delivery
                </div>
        </div>
        }
    </div>
    <hr class="text-secondary d-block d-lg-none mt-5">
</div>
}
</div>
</div>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Furniture and Decor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="position-relative">
                    <img src="images/virtual-staging-banner-desktop.webp"
                        style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="position-absolute p-2 text-bg-dark shadow" style="top:10px; left: 10px;">BEFORE</div>
                    <div class="position-absolute p-2 text-bg-dark shadow" style="top:10px; right: 10px;">AFTER</div>
                </div>
                <p class="mt-3">
                    <strong>Add Furniture and Decor</strong> - Add furniture and decor to a space. This is typically
                    used on photos of vacant spaces. It can also be used if you would like to keep existing furniture
                    and add additional furniture and decor around it. This service type does not include item removal.
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        pricing_col_set_border();
        $(window).resize(function () {
            pricing_col_set_border();
        });

        $('.pricing-col').last().removeClass('border-end border-2');

        function pricing_col_set_border() {
            if ($(window).width() < 992) {
                $('.pricing-col').removeClass('border-end border-2');
            }
            else {
                $('.pricing-col').addClass('border-end border-2');
                $('.pricing-col').last().removeClass('border-end border-2');
            }
        }
    });
</script>