<div class="container-fluid g-0">
    <div class="position-relative">
        <img src="images/virtual-staging-banner-desktop.webp" alt="" class="w-100 img-fluid">
        <div class="bg-dark p-2 position-absolute text-light fs-5" style="top: 2rem; left: 1rem;">BEFORE</div>
        <div class="bg-dark p-2 position-absolute text-light fs-5" style="top: 2rem; right: 1rem;">AFTER</div>
    </div>
</div>

<div class="container mt-5 mb-5 d-flex flex-column align-items-center">
    <div class="text-color fs-5">America's #1 Virtual Staging Service</div>
    <div class="" style="font-size: 2.7em; font-weight: bold;">Virtual Staging for Real Estate</div>
    <div class="mt-2">Send Your Property Photos to Get Them Staged in 12 to 24 Hours</div>
    <button class="btn btn-danger mt-2 px-4">Place order</button>
    <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
</div>

<div class="container-fluid border-bottom" style="background-color: #f9f9f9;">
    <div class="container mt-5 py-5">
        <center class="fs-3 fw-bold">Add Furniture and Decor </center>
        <center class="fs-5">$29 Per Photo. 12 to 24 Hour Delivery. </center>
        <img src="images/virtual-staging-banner-desktop.webp" alt="" class="w-100 img-fluid mt-5">
        <div class="mt-2 fs-5">Living Rooms </div>

        <img src="images/virtual-staging-banner-desktop.webp" alt="" class="w-100 img-fluid mt-5">
        <div class="mt-2 fs-5">Bedrooms </div>

        <div class="my-5 d-flex flex-column align-items-center">
            <button class="btn btn-danger mt-2 px-4">Place order</button>
            <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
        </div>

        <center class="fs-3 fw-bold">Remove Items and Add Furniture and Decor </center>
        <center class="fs-5">$39 Per Photo. 12 to 24 Hour Delivery. </center>
        <img src="images/virtual-staging-banner-desktop.webp" alt="" class="w-100 img-fluid mt-5">
        <div class="mt-2 fs-5">Living Rooms </div>
        <div class="my-5 d-flex flex-column align-items-center">
            <button class="btn btn-danger mt-2 px-4">Place order</button>
            <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
        </div>

        <center class="fs-3 fw-bold">Change Interior Walls, Floors, Cabinets, Ceilings and More</center>
        <center class="fs-5">From $15 Per Photo. 12 to 24 Hour Delivery. </center>
        <img src="images/virtual-staging-banner-desktop.webp" alt="" class="w-100 img-fluid mt-5">
        <div class="mt-2 fs-5">Living Rooms </div>
        <div class="my-5 d-flex flex-column align-items-center">
            <button class="btn btn-danger mt-2 px-4">Place order</button>
            <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
        </div>

        <center class="fs-3 fw-bold">Change Exterior Wall, Trim and/or Door Color</center>
        <center class="fs-5">$39 Per Photo. 12 to 24 Hour Delivery. </center>
        <img src="images/virtual-staging-banner-desktop.webp" alt="" class="w-100 img-fluid mt-5">
        <div class="mt-2 fs-5">Living Rooms </div>
        <div class="my-5 d-flex flex-column align-items-center">
            <button class="btn btn-danger mt-2 px-4">Place order</button>
            <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
        </div>
    </div>
</div>

<div class="container mt-5 pb-5">
    <center class="fs-2 fw-bold">How It Works</center>

    <center class="fs-5 fw-light">A Three Step Process That Takes 12 to 24 Hours </center>

    <div class="row">
        <div class="col-12 col-lg-4 mt-3">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="images/virtual-staging-icons_camera-icon.svg" height="60" alt="">
                <div class="mt-2" style="font-size: 1.5em; font-weight: bold;">1. Upload Your Photos</div>
                <p class="fs-5 fw-light mt-2">Upload the photos you want virtually staged. </p>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-3">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="images/virtual-staging-icons_shopping-cart-icon.svg" height="60" alt="">
                <div class="mt-2" style="font-size: 1.5em; font-weight: bold;">2. Submit Your Order </div>
                <p class="fs-5 fw-light mt-2">Share how you want your photos virtually staged and pay. </p>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-3">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="images/virtual-staging-icons_photos-icon.svg" height="60" alt="">
                <div class="mt-2" style="font-size: 1.5em; font-weight: bold;">3. Get Your Staged Photos </div>
                <p class="fs-5 fw-light mt-2">View and download your virtually staged photos.</p>
            </div>
        </div>
    </div>

    <div class="my-5 d-flex flex-column align-items-center">
        <button class="btn btn-danger mt-2 px-4">Place order</button>
        <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
    </div>
</div>

<div class="container-fluid py-5" style="background-color: #f9f9f9;">
    <div class="container">
        <center class="fw-bold" style="font-size: 2em;">Explore Stuccco's Design Styles </center>
        <center class="fs-5 fw-light">When Placing an Order, You Will Be Able to Provide Design Instructions and Choose
            a Design Style for Your Photos.</center>
        <center class="fs-5 fw-light link-color">Explore Stuccco's Virtual Staging Library.</center>

        <div class="row">
            @@for (var i = 1; i <= 6; i++) { <div class="col-12 col-lg-4 mt-3">
                <img src="images/7.jpeg" alt="" class="w-100 img-fluid border rounded-1">
                <div class="mt-2 fw-bold">Comfortable Contemporary </div>
                <div>
                    Soft furnishings, neutral colors, clean patterns
                </div>
                <div class="link-color">View Examples</div>
        </div>
        }
    </div>
</div>
</div>

<!-- doi tac -->
<div class="container mt-5">
    <center class="fw-bold" style="font-size: 2em;">Thousands of Photos Staged for Real Estate Pros Across the USA
    </center>
    <center class="fs-5 fw-light">Top Real Estate Professionals Rely on Stuccco to Meet Their Virtual Staging Needs.
    </center>

    <div class="row">
        @@for (var i = 1; i <= 12; i++) { <div class="col-6 col-lg-3 mt-3 mb-3 text-center">
            <img src="images/compass.webp" alt="" class="img-fluid" style="max-height: 68.67px;">
    </div>
    }
</div>
</div>

<!-- review -->
<div class="container mt-5">
    @@for (var i = 1; i <= 4; i++) { <div class="d-flex justify-content-between mt-3">
        <img src="images/5-stars.webp" alt="" height="20">
        <div>
            <i class="fa-solid fa-circle-check"></i>
            Verified Purchase
        </div>
</div>
<p class="mt-3">I used Stuccco to virtually stage a handful of photos on two new listings. The turnaround time was fast
    and easy. My clients were impressed by this additional service I was able to offer them and the photos were
    terrific! Both homes were in a starter price range and sold for full price immediately.</p>
<div>Laura Grubb</div>
}
</div>

<div class="my-5 d-flex flex-column align-items-center">
    <button class="btn btn-danger mt-2 px-4">Place order</button>
    <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
</div>

<!-- Your Happiness is Guaranteed -->
<div class="container-fluid py-5" style="background-color: #edf1ee;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="fw-bold" style="font-size: 2em;">Your Happiness is Guaranteed</div>
                <div class="mt-2 fs-5 fw-light" style="font-weight: 300; line-height: 1.5em;">
                    If you want your virtually staged photos to be revised, send us a message at the bottom of your
                    virtual staging order within 60 days of purchase and we will gladly revise your virtually staged
                    photos free of charge until you are completely happy.
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <img src="images/happiness-guarantee.svg" alt="" width="250" height="250">
            </div>
        </div>
    </div>
</div>

<!-- Why Virtually Stage? -->
<div class="container my-5">
    <div class="fs-2 fw-bold text-center">
        Why Virtually Stage?
    </div>
    <div class="border rounded-2 p-5 mt-4 shadow">
        <div class="mb-4">
            <span class="fw-bold fs-5">Sell properties faster.</span>
            <span>Staged properties sell 88% faster than non-staged properties.</span>
        </div>
        <div class="mb-4">
            <span class="fw-bold fs-5">Sell properties for more money.</span>
            <span> Staged properties sell for 20% more than non-staged properties.</span>
        </div>
        <div class="">
            <span class="fw-bold fs-5">Increase views, clicks and showings.</span>
            <span>More than 90% of buyers start their search for homes online. A virtually staged property stands out
                from the crowd, makes a great first impression and drives quality traffic online and in person.
            </span>
        </div>
    </div>
</div>

<!-- Why Stuccco Virtual Staging? -->
<div class="container my-5">
    <div class="fs-2 fw-bold text-center">
        Why Stuccco Virtual Staging?
    </div>
    <div class="border rounded-2 p-5 mt-4 shadow">
        <div class="mb-4">
            <span class="fw-bold fs-5">Sell properties faster.</span>
            <span class="fs-5">Staged properties sell 88% faster than non-staged properties.</span>
        </div>
        <div class="mb-4">
            <span class="fw-bold fs-5">Sell properties for more money.</span>
            <span class="fs-5"> Staged properties sell for 20% more than non-staged properties.</span>
        </div>
        <div class="">
            <span class="fw-bold fs-5">Increase views, clicks and showings.</span>
            <span class="fs-5">More than 90% of buyers start their search for homes online. A virtually staged property
                stands out
                from the crowd, makes a great first impression and drives quality traffic online and in person.
            </span>
        </div>
    </div>
</div>

<!-- Frequently Asked Questions-->
<div class="container-fluid" style="background-color: #fafafa;">
    <div class="container py-5">
        <div class="fs-2 fw-bold text-center mb-4">
            Frequently Asked Questions
        </div>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Can I really get my photos virtually staged in just 24 hours?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body fs-5">
                        Yes. Stuccco's virtual stagers are located throughout the United States and across the globe,
                        which allows us to assign, process and complete virtual staging projects 24 hours a day, 7 days
                        a week. Additional time may be required for orders with more than 10 photos that include item
                        removal.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Can I really get my photos virtually staged in just 24 hours?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body fs-5">
                        Yes. Stuccco's virtual stagers are located throughout the United States and across the globe,
                        which allows us to assign, process and complete virtual staging projects 24 hours a day, 7 days
                        a week. Additional time may be required for orders with more than 10 photos that include item
                        removal.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseThree">
                        Can I really get my photos virtually staged in just 24 hours?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body fs-5">
                        Yes. Stuccco's virtual stagers are located throughout the United States and across the globe,
                        which allows us to assign, process and complete virtual staging projects 24 hours a day, 7 days
                        a week. Additional time may be required for orders with more than 10 photos that include item
                        removal.
                    </div>
                </div>
            </div>
        </div>

        <div class="my-5 d-flex flex-column align-items-center">
            <button class="btn btn-danger mt-2 px-4">Place order</button>
            <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
        </div>
    </div>
</div>