<div class="container my-5 d-flex flex-column align-items-center">
    <div class="" style="font-size: 2.7em; font-weight: bold;"> Get Photos Virtually Staged in 24 Hours or Less</div>
    <div class="mt-2 fs-5">Quickly and Easily Maximize the Appeal and Value of Your Listings in Three Simple Steps</div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-12 col-lg-6">
            <div class="text-color fw-bold fs-5">Step 1</div>
            <div class="fw-bold fs-2 mt-2">Upload Your Photos</div>
            <div class="mt-2 fs-5">
                Upload the photos you want staged.
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="images/virtual-staging-how-it-works-step-1.jpg" class="rounded shadow" alt="">
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 col-lg-6">
            <div class="text-color fw-bold fs-5">Step 2</div>
            <div class="fw-bold fs-2 mt-2">Submit Your Order</div>
            <div class="mt-2 fs-5">
                Tell us how you want your photos staged and submit payment. If you're a first-time customer, you'll be
                prompted to create a free account.
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="images/virtual-staging-how-it-works-step-2.jpg" class="rounded shadow" alt="">
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 col-lg-6">
            <div class="text-color fw-bold fs-5">Step 3</div>
            <div class="fw-bold fs-2 mt-2">Get Your Staged Photos</div>
            <div class="mt-2 fs-5">
                In 24 hours or less, you'll get an email with a link to view and download your staged photos.
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="images/virtual-staging-how-it-works-step-3.jpg" class="rounded shadow" alt="">
        </div>
    </div>

    <center>
        <button class="btn btn-lg btn-danger mt-2 px-4">Place order</button>
        <div class="mt-2">Questions? Call <span class="link-color">1-833-788-2226</span></div>
    </center>

    <div class="row my-5">
        <div class="col-12 col-lg-6 text-center">
            <div class="fw-bold fs-4 mt-2">Free Revisions Included
            </div>
            <div class="mt-2 fs-5">
                Need a revision? Send your designer a message at the bottom of your order and your virtually staged photos will be revised free of charge ASAP.
            </div>
        </div>

        <div class="col-12 col-lg-6 text-center">
            <div class="fw-bold fs-4 mt-2">Free Listing Included
            </div>
            <div class="mt-2 fs-5">
                A listing is a publicly-visible landing page that showcases your property. You can share, customize or hide it with a single click.
            </div>
        </div>
    </div>
</div>

<!-- Your Happiness is Guaranteed -->
<div class="container-fluid py-5" style="background-color: #edf1ee;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="fw-bold" style="font-size: 2em;">Your Happiness is Guaranteed</div>
                <div class="mt-2 fs-5 fw-light" style="font-weight: 300; line-height: 1.5em;">
                    If you want your virtually staged photos to be revised, send us a message at the bottom of your
                    virtual staging order within 60 days of purchase and we will gladly revise your virtually staged
                    photos free of charge until you are completely happy.
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center">
                <img src="images/happiness-guarantee.svg" alt="" width="250" height="250">
            </div>
        </div>
    </div>
</div>