<div class="container py-5" id="step-1">
    <div class="fw-semibold fs-5 mb-3">STEP 1 OF 3: CUSTOMER INFO</div>

    <div class="border p-4 step-1-box shadow">
        <div class="fw-bold">Already Have An Account? <span class="link-color"> Sign In</span>.
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@email.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone Number (10 Digits)</label>
            <input type="tel" class="form-control" id="exampleFormControlInput1" pattern="[0-9]{10}"
                placeholder="Phone number">
        </div>

        <div class="mb-3">
            <button class="btn btn-lg btn-danger w-100" id="step-1-next">Continue</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        if ($(window).width() < 992) {
            $('.step-1-box').removeClass('w-50')
        }
        else {
            $('.step-1-box').addClass('w-50')
        }

        $(window).resize(function () {
            if ($(window).width() < 992) {
                $('.step-1-box').removeClass('w-50')
            }
            else {
                $('.step-1-box').addClass('w-50')
            }
        });
    });
</script>